/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

strong {
  font-weight: 600;
  text-decoration: underline;
}

.header {
  display: flex;
  background-color: rgb(121, 205, 242);
  justify-content: center;
}

.header .header_text {
  color: white;
  margin: 30px;
  font-weight: 600;
  font-size: 40px;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 90vh;
}

.upload .upload_div_item {
  font-size: 18px;
  text-align: center;
  margin: 6px;
  margin-bottom: 20px;
}

.upload input {
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.usage_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.usage_text {
  text-align: center;
  margin-bottom: 10px;
}

.usage_text_pic_box {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.box_contain {
  flex: 1 1 0px;
}

img {
  height: 300px;
  border: 7px solid rgb(235, 235, 235);
  border-radius: 2px;
}

.footer {
  display: flex;
  background-color: rgb(121, 205, 242);
  justify-content: center;
  height: 80px;
  align-items: center;
}
